/*
!/.bin/
!/.zsh/
!/.vimperator/
!/.cygwin-resources/
!/.emacs.d/
!/.dotfiles/
/.dotfiles/vim/sessions/
/.dotfiles/vim/addons/*
/.emacs.d/el-get/
/.emacs.d/elpa/
/.vimperator/info
/.vimperator/plugin/local.vimp
/.bin/phantomjs
/.zsh/profile-local.d/
/.zsh/rc-local.d/
/.zsh/login-local.d/
/.zsh/.zcompdump
/.zsh/.zsh_history
/.zsh/.zcalc_history
.VimballRecord
