[submodule ".vim"]
	path = .vim
	url = git://github.com/tarruda/vim-files.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".git-extras"]
	path = .git-extras
	url = gh:visionmedia/git-extras
