[user]
  name = Thiago de Arruda
  email = tpadilha84@gmail.com

[github]
  user = tarruda

[core]
  excludesfile = ~/.global.gitignore

[url "https://github.com/"]
  insteadOf = "gh:"

[url "git@bitbucket.org:"]
  insteadOf = "bb:"

[url "git@github.com:"]
  pushInsteadOf = "gh:"

[url "https://github.com/tarruda/"]
  insteadOf = "ta:"

[url "git@github.com:tarruda/"]
  pushInsteadOf = "ta:"

[url "https://github.com/neovim/"]
  insteadOf = "nv:"

[url "git@github.com:neovim/"]
  pushInsteadOf = "nv:"

[url "https://gist.github.com/"]
  insteadOf = "gist:"

[url "git@gist.github.com:"]
  pushInsteadOf = "gist:"

[push]
  default = upstream

[imap] 
  folder = "[Gmail]/Drafts" 
  host = imaps://imap.gmail.com 
  user = tpadilha84@gmail.com
  port = 993 
  sslverify = true 

[diff]
  tool = vimdiff

[merge]
  tool = vimdiff

[difftool]
  prompt = true
