/*
!/.bin/
!/.zsh/
!/.vim/
!/.vimperator/
!/.cygwin-resources/
/.vimperator/info
/.vimperator/plugin/local.vimp
/.bin/phantomjs
/.vim/sessions/
/.vim/bundle/*
/.zsh/profile-local.d/
/.zsh/rc-local.d/
/.zsh/login-local.d/
/.zsh/.zcompdump
/.zsh/.zsh_history
/.zsh/.zcalc_history
.VimballRecord
