/znc/
/vim/sessions/
/vim/addons/
/vim/site-vimrc
/vimperator/info
/vimperator/plugin/local.vimp
/zsh/.site-zprofile
/zsh/.site-zshrc
/zsh/.site-zlogin
/zsh/.zsh_history
/zsh/.zcompdump
/zsh/.zcalc_history
/tmux/site-tmuxrc
.VimballRecord
/emacs.d/el-get/
/emacs.d/elpa/
/bin/phantomjs
.startxwinrc-local
