! urxvt
urxvt*loginShell: True
urxvt*iso14755_52: False
urxvt*iconFile: /usr/share/icons/Faenza/apps/48/utilities-terminal.png
urxvt*perl-lib: .config/urxvt
urxvt*perl-ext-common:  default,matcher
urxvt*background: #1C1C1C
urxvt*foreground: #FFFFFF
urxvt*font: xft:Ubuntu Mono:pixelsize=32
urxvt*letterSpace: -1
urxvt*matcher.button: 1
urxvt*underlineURLs: true
urxvt*scrollBar: false
urxvt*saveLines: 0
! the following is the default but set it explicitily anyway
urxvt*meta8: false
! make urxvt behave like xterm when control/alt keys
urxvt.keysym.M-Up:        \033[1;3A
urxvt.keysym.M-Down:      \033[1;3B
urxvt.keysym.M-Right:     \033[1;3C
urxvt.keysym.M-Left:      \033[1;3D
urxvt.keysym.M-Prior:     \033[5;3~
urxvt.keysym.M-Next:      \033[6;3~
urxvt.keysym.M-End:       \033[1;3F
urxvt.keysym.M-Home:      \033[1;3H
urxvt.keysym.C-Up:        \033[1;5A
urxvt.keysym.C-Down:      \033[1;5B
urxvt.keysym.C-Right:     \033[1;5C
urxvt.keysym.C-Left:      \033[1;5D
urxvt.keysym.C-Prior:     \033[5;5~
urxvt.keysym.C-Next:      \033[6;5~
urxvt.keysym.C-End:       \033[1;5F
urxvt.keysym.C-Home:      \033[1;5H
! urxvt.keysym.C-Tab:       \033[27;5;9~
urxvt.keysym.C-Tab:       \033[34~
! tango color scheme (gnome terminal)
! black
urxvt*color0 : #2E2E34343636
urxvt*color8 : #555557575353
! red
urxvt*color1 : #CCCC00000000
urxvt*color9 : #EFEF29292929
! green
urxvt*color2 : #4E4E9A9A0606
urxvt*color10 : #8A8AE2E23434
! yellow
urxvt*color3 : #C4C4A0A00000
urxvt*color11 : #FCFCE9E94F4F
! blue
urxvt*color4 : #34346565A4A4
urxvt*color12 : #72729F9FCFCF
! magenta
urxvt*color5 : #757550507B7B
urxvt*color13 : #ADAD7F7FA8A8
! cyan
urxvt*color6 : #060698209A9A
urxvt*color14 : #3434E2E2E2E2
! white
urxvt*color7 : #D3D3D7D7CFCF
urxvt*color15 : #EEEEEEEEECEC

! xterm
xterm*termName: xterm-256color
xterm*faceName: Ubuntu Mono
xterm*faceSize: 17
xterm*background: rgb:1C/1C/1C
xterm*foreground: rgb:FF/FF/FF
! tango color scheme
xterm*color0: #2e3436
xterm*color1: #cc0000
xterm*color2: #4e9a06
xterm*color3: #c4a000
xterm*color4: #3465a4
xterm*color5: #75507b
xterm*color6: #0b939b
xterm*color7: #d3d7cf
xterm*color8: #555753
xterm*color9: #ef2929
xterm*color10: #8ae234
xterm*color11: #fce94f
xterm*color12: #729fcf
xterm*color13: #ad7fa8
xterm*color14: #00f5e9
xterm*color15: #eeeeec
xterm*metaSendsEscape: true
xterm*vt100.translations: #override \n\
        Ctrl ~Shift <Key>Tab: string(0x1b) string("[34~") \n

! better font rendering
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
