[Unit]
Description=User's startup hook
ConditionPathExists=/home/%I/.hooks/startup.sh
ConditionPathExists=/home/%I/.hooks/shutdown.sh
After=multi-user.target

[Service]
User=%I
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -e /home/%I/.hooks/startup.sh
ExecStop=/bin/sh -e /home/%I/.hooks/shutdown.sh

[Install]
WantedBy=multi-user.target
