snippet cl "Write to console" !
System.Console.WriteLine(${2:"${1:msg}"});
endsnippet

snippet sleep "Sleep" !
System.Threading.Thread.Sleep(${1:1000});
endsnippet

snippet exit "Exit program" !
System.Environment.Exit(1);
endsnippet
