#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Tmuxer
Icon=utilities-terminal
Exec=urxvt -e ssh tmuxer-host zsh -l -c tmuxer
StartupNotify=true
Categories=Terminal
StartupWMClass=tmuxer
