#
# sec.conf -- weechat v0.4.2
#

[crypt]
cipher = aes256
hash_algo = sha256
passphrase_file = ""
salt = on

[data]
__passphrase__ = off
freenode_username = ""
freenode_password = ""
freenode_channels = ""
oftc_username = ""
oftc_password = ""
oftc_channels = ""
mozilla_username = ""
mozilla_password = ""
mozilla_channels = ""
gimpnet_channels = ""
growl_server_address = ""
