snippet for "for loop (for)" !
for (${2:i} = 0; $2 < ${1:count}; ${3:$2++})
{
	${VISUAL}${0:${VISUAL/(.*)/(?1::\/* code *\/)/}}
}
endsnippet

snippet fori "for int loop (fori)" !
for (${4:int} ${2:i} = 0; $2 < ${1:count}; ${3:$2++})
{
	${VISUAL}${0:${VISUAL/(.*)/(?1::\/* code *\/)/}}
}
endsnippet

